html, body {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    margin: auto;
    text-align: center;
}
main {
    padding: 2rem;
    font-size: 1rem;
}
.title {
    font-size: 3rem;
}