$font-primary: Arial, sans-serif;
$background-primary: #f9fbfd;
$background-secondary: aliceblue;

$breakpoints_fontsize: (
    (max: 600px, size: 14px),
    (min: 601px, max: 1024px, size: 16px),
    (min: 1025px, size: 18px)
);