@use '../helpers/variables' as *;

@use "sass:map";

@each $bp in $breakpoints_fontsize {
    @media #{if(map.has-key($bp, min) and map.has-key($bp, max), 
        "(min-width: #{map.get($bp, min)}) and (max-width: #{map.get($bp, max)})", 
        if(map.has-key($bp, min), "(min-width: #{map.get($bp, min)})", 
        "(max-width: #{map.get($bp, max)})"))
    } {
      #info_o_wroc {
        font-size: #{map.get($bp, size)};
      }
    }
  }
  


#info_o_wroc {
    position: relative; 

    h2 {
        font-size: 18pt;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 12);
    }
    
    h3 {
        font-size: 14pt;
    }
    p {
        font-size: 110%; 
    }
}