body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}

p {
    text-align: left;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}
