@use '../base/typography';
@use '../components/forms';


body {
    background: url('../../images/kod-programu.jpg') no-repeat left top; 
    background-size: cover;
}

h2 {
    background-color: rgb(184, 219, 250);
}
form {
    background-color:rgb(184, 219, 250);
}

label:not(#do-not-change) {
  color: white;
}
