body {
    font-family: Arial, sans-serif; 
    color: black;   
    font-size: 18px;
    line-height: 1.6;
    background-color: #f0f8ff;
}

.controls {
  margin: 20px 0;
}
label {
  display: block;
  margin: 5px 0;
}

@media (max-width: 600px) {
    #info_o_wroc {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    #info_o_wroc {
        font-size: 16px;
    }
}

@media (min-width: 1025px) {
    #info_o_wroc {
        font-size: 18px;
    }
}

header h1 {
    font-size: 2em; 
    margin: 0.5em 0;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    font-variant: small-caps;
}



a:link {
    color: #FF0000;
}

a:visited {
    color: grey;
}

nav ul li a {
    font-size: 14px;
    text-decoration: none;
    margin: 40px;
}

ul > li {
    list-style-type: square;
}

.box {
    margin: 20px; 
    padding: 20px;
    border: 4px solid #ccc; 
    width: 80%; 
    height: auto; 
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    background: url('images/tlo.png');
    background-origin: padding-box;
}

@media screen and (max-width: 600px) {
  a.logo {
    display: none;
  }
}

#info_o_wroc h2 {
    font-size: 18pt;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 12);
}

#info_o_wroc h3 {
    font-size: 14pt;
}

#info_o_wroc p {
    font-size: 110%; 
}

#info_o_wroc {
    position: relative; 
}

#ranking {
    position: absolute; 
    top: 20px; 
    right: 40px; 
    font-size: 15px;
}

.wroclaw-highlight {
    font-weight: bold;
    font-style: italic;
}

#galeria {
    clear: both;
}

footer {
    font-size: 12px; 
    position: fixed; 
    bottom: 0; 
    left: 0;
    padding: 10px;
    background-color: aliceblue;
}

footer p:last-of-type {
    opacity: 0.2;
}

.float-right {
    float: right; 
    width: 20%; 
    margin-left: 80%;
}

#ranking li:first-child {
  background: yellow;
}

#ranking li:last-child {
    background: red;
}

#ranking li:nth-child(3n) {
    background: #4FFFB0;
}

#nav-list li:nth-last-child(2n) {
    background: #DADD98;
}

li:only-child {
  font-size: 20px;
  color: pink;
}

:target {
  border: 2px solid darkorange;
  background-color: beige;
}

meter:empty {
  opacity: 0.1;
}

h3 {
  background-color: rgba(0, 128, 255, 0.3);
}

h2 {
  background-color: hsla(300, 100%, 70%, 0.3);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #96c0f2;
  }
  
  footer {
    background-color: #96c0f2;
  }
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.container {
  display: grid;
  gap: 10px;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
