<%- include('layoutTop') %>

<h1>Skontaktuj się z nami</h1>

<form action="/submit-form" method="POST">
    <input type="text" name="name" placeholder="Imię">
    <input type="email" name="email" placeholder="Email">
    <textarea name="message" placeholder="Wiadomość"></textarea>
    <button type="submit">Wyślij</button>
</form>

<%- include('layoutBot') %>