<%- include('layoutTop') %>

<h1>Galeria zdjęć</h1>

<div class="gallery">
    <% images.forEach(image => { %>
        <div class="gallery-item">
            <img src="/images/<%= image %>" alt="Zdjęcie">
        </div>
    <% }); %>
</div>
<%- include('layoutBot') %>