<%- include('layoutTop') %>
<h1><%= message %></h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget eros nec sem maximus semper quis tincidunt lacus. Morbi id enim eget enim ullamcorper placerat rhoncus eu tortor. Mauris vel urna ultricies, rutrum felis a, blandit nibh. Mauris eros orci, mattis consequat luctus nec, volutpat ut risus. Phasellus ultrices gravida diam, sit amet elementum massa sollicitudin sit amet. Vestibulum lorem arcu, condimentum sed neque id, tristique interdum risus. Ut egestas ultrices lorem at varius. Nam vulputate risus neque, ut interdum neque fringilla vel. Vivamus lacinia hendrerit pellentesque. Praesent ultricies, arcu sit amet porta imperdiet, metus ex eleifend nibh, vitae gravida erat eros ac quam. Suspendisse sollicitudin efficitur nulla eu luctus. Cras accumsan justo in augue bibendum bibendum. Phasellus nec est vel quam interdum consequat nec a enim.
</p>
<p>
Praesent sit amet convallis justo, id pulvinar ex. Maecenas tincidunt egestas mauris, ut fermentum diam tempor at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla placerat, lectus non pharetra ornare, massa dolor tempor leo, sit amet condimentum ipsum augue ut libero. Donec facilisis rhoncus elit. Maecenas ipsum urna, tincidunt id dui eget, tempor iaculis nunc. Praesent vel rutrum mi. Suspendisse rhoncus vulputate dolor, nec sollicitudin libero dapibus ut.
</p>
<p>
Aliquam non urna vel mauris sollicitudin lacinia. Cras quis dictum magna. Quisque condimentum mauris et tellus cursus mattis. Sed quis tortor porta, scelerisque mauris pharetra, euismod mauris. Ut ac mi metus. Proin nec augue nisl. Vivamus congue nisi vestibulum accumsan maximus. In in lacinia dui, nec semper neque. In condimentum justo turpis, ut gravida lectus lacinia vitae. Aenean consequat vehicula lectus. Aenean lacus velit, gravida ac scelerisque egestas, sagittis at ipsum. Pellentesque ornare diam sit amet est porttitor, sed porta mi condimentum. Proin lobortis commodo augue, a placerat elit lobortis eget. Fusce sodales fringilla turpis eu ultrices. Nulla hendrerit. 
</p>
<%- include('layoutBot') %>