header h1 {
    font-size: 2em; 
    margin: 0.5em 0;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    font-variant: small-caps;
}

a {
    &:link {
      color: #FF0000;
    }
  
    &:visited {
      color: grey;
    }
  }
  

nav ul li a {
    font-size: 14px;
    text-decoration: none;
    margin: 40px;
}

ul > li {
    list-style-type: square;
}

li:only-child {
    font-size: 20px;
    color: pink;
}

#nav-list li:nth-last-child(2n) {
    background: #e8e8e7;
}

@media screen and (max-width: 600px) {
    a.logo {
      display: none;
    }
  }
  